@font-face {
    font-family: 'MinecraftRegular';
    src: url('../../../../font/minecraft-font/MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  .MinecraftButton {
    font-family: 'MinecraftRegular', sans-serif;
    background-color: #AAAAAA;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 0 #1f2937, /* Gris foncé */
                 2px 2px 0 #000;    /* Noir */
    border: 1px solid #000;
    background-image: url('../../../../img/stonetexture.jpg') format('opentype');
    ;
  }
  
  .MinecraftButton:hover {
    background-color: #AAAAAA;
    transform: scale(1.05);
  }

  .MinecraftButton:hover{
    background-color: rgb(125, 163, 246) ;
  }

  .MinecraftButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 100%;
    border: 3px solid rgb(228, 228, 228);
    border-bottom: 3px solid rgb(72, 72, 72);
    border-right: none;
    pointer-events: none;
    background-size: cover;
    background-position: center;
    background-image: url('../../../../img/stonetexture.jpg');
    opacity: 0.5;
    z-index: 1;
  }

  .MinecraftButton span {
    position: relative;
    z-index: 3; 
  }
  