@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MinecraftRegular';
  src: url('../public/font/minecraft-font/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MinecraftRegular', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
